*{
    padding: 0;
    margin: 0;
    border: none;
}

.container{
    margin: 100px auto;
    text-align: center;
    width: 450px;
    height: 465px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 10px;
    background-color: rgba(241, 241, 241, 0.329);
    box-shadow: 0px 0px 10px 2px rgba(212, 212, 212, 0.712);
}

.head{
    width: auto;
    text-align: center;
}
.head h3{
    font-size: 30px;
    margin: 30px auto;
}

.username , .password {
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.input{
    width: 388px;
    height: 50px;
    margin: auto;
    border: 1px solid rgb(180, 180, 180);
    padding: 0 8px;
    outline: none;
    font-size: 17px;
}

.input:focus{
    transition: 0.3s;
    border: 1px solid rgb(95, 95, 95);
}
.input::placeholder{
    font-size: 15px;
    opacity: 0.3;
}
.head-name{

    display: block;
    float: left;
    font-size: 13px;
    font-family: sans-serif;
    margin: 7px 20px;

}

.submit-btn{
    height: 60px;
    width: 250px;
    background-color: #329ddb;
    margin: 30px 10px;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    color: white;
}


.submit-btn:hover{
    transition: 0.5s;
    background-color: #0026ff;
}

.option .sign-txt{
    display: inline;
}



.option a{
    color: blue;
    cursor: pointer;
    font-family: sans-serif;
}

.option a:hover{
    color: rgb(87, 112, 223);
}


.header{
    background-image: linear-gradient(to right,rgba(255, 207, 167, 0.041),rgb(255, 81, 0));
    box-shadow: 0px 0px 10px 2px rgb(163, 163, 163);
    height: 50px;
    width: auto;
    position: relative;
    top: 0;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.137);
}
.header .icon img{
    height: 70px;
    position: absolute;
    left: 20px;
    top: 0px;
}
.header span{
    height: 50px;
    width: 1px;
    background-color: rgba(248, 248, 248, 0.5);
    position: absolute;
    right: 120px;
    
}

.app-name{
    color: rgb(75 111 223);
    width: 250px;
    margin: auto;
    position: absolute;
    left: 10px;
    top: 20px;
    font-size: 24px;
    display: inline-block;
    font-family: sans-serif;
}

.head-option{
    position: absolute;
    top: 14px;
    height: 20px;
    padding: 10px 5px;
    border-radius: 10px;
    font-size: 17px;
    font-family: sans-serif;
    color: white;
    border: 0.5px solid rgba(255, 255, 255, 0.432);
    cursor: pointer;
    transition: 0.3s;
}

.sign-btn-head{
    width: 70px;
    right: 30px;
    
}
.guest-btn-head{
    width: 110px;
    right: 130px;
}
.head-option:hover{
    
    background-color: white;
    color: black;
    box-shadow: 0 0 3px 1px rgb(150, 150, 150);

}

.welcome-txt{
    text-align: center;
    margin: 60px;
    width: 850px;
    margin: 80px auto 30px;
    font-family: sans-serif;
    color: #001275;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-radius: 10px 0;
    padding: 22px 0;
    
}

.welcome-txt h1{
    margin: 14px 0;
}
.welcome-txt span{
    color: orange;
}
